/* Basic style*/


/* GRID */

.container{
    display: grid;
    grid-template-areas: 
    'top top top'
    'hero hero hero'
    'about about about'
    'skills'
    
    
}

.top{
    grid-area: top;
}

.hero{
    grid-area: hero;
}

.about{
    grid-area: about;
}

.skills{
    grid-area: skills;
}

.portfolio{
    grid-area: portfolio;
}

footer{
    grid-area: footer;
}

